@model HotelApp.Domain.Entities.Reservaciones

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email_R" class="control-label"></label>
                <input asp-for="Email_R" class="form-control" />
                <span asp-validation-for="Email_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_R" class="control-label"></label>
                <input asp-for="Nombre_R" class="form-control" />
                <span asp-validation-for="Nombre_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos_R" class="control-label"></label>
                <input asp-for="Apellidos_R" class="form-control" />
                <span asp-validation-for="Apellidos_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Entrada_R" class="control-label"></label>
                <input asp-for="Fecha_Entrada_R" class="form-control" />
                <span asp-validation-for="Fecha_Entrada_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Salida_R" class="control-label"></label>
                <input asp-for="Fecha_Salida_R" class="form-control" />
                <span asp-validation-for="Fecha_Salida_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_R" class="control-label"></label>
                <input asp-for="Telefono_R" class="form-control" />
                <span asp-validation-for="Telefono_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habitacion_R" class="control-label"></label>
                <input asp-for="Habitacion_R" class="form-control" />
                <span asp-validation-for="Habitacion_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especificaion_R" class="control-label"></label>
                <input asp-for="Especificaion_R" class="form-control" />
                <span asp-validation-for="Especificaion_R" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
